// API

:root {
  --font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial,
    Lucida Grande, sans-serif;
  --content-padding: '1rem';
  --inline-spacing: '0.5rem';
  --border-radius: '4px';

  --maskbg: 'rgba(0, 0, 0, 0.32)';
  --focus-ring: 'none';
  --color-scheme: 'light';

  --primary-color: #3f51b5;

  --secondary-color: #e91e63;

  --accent-color: #e91e63;

  --warn-color: #f44336;

  --surface-color: #9e9e9e;
  --surface-a: '#ffffff';
  --surface-b: '#fafafa';
  --surface-c: 'rgba(0, 0, 0, 0.04)';
  --surface-d: 'rgba(0, 0, 0, 0.12)';
  --surface-e: '#ffffff';
  --surface-f: '#ffffff';
  --surface-ground: '#fafafa';
  --surface-overlay: '#ffffff';
  --surface-section: '#ffffff';
  --surface-card: '#ffffff';
  --surface-border: 'rgba(0, 0, 0, 0.12)';
  --surface-hover: 'rgba(0, 0, 0, 0.04)';

  --gray-color: #9e9e9e;
}
